body {
	background-color: #fcfcfc;
	color: #5c5c5c;
}
a {
	color: #5c5c5c;
}
.annotation { outline-color: #e0e0e0; }
.DEFAULT {
	background-color: #fcfcfc;
	outline-color: #c6c6c6;
}
.RED { background-color: #faafa8; }
.ORANGE { background-color: #f39f76; }
.YELLOW { background-color: #fff8b8; }
.GREEN { background-color: #e2f6d3; }
.TEAL { background-color: #b4ddd3; }
.BLUE { background-color: #d4e4ed; }
.CERULEAN { background-color: #aeccdc; }
.PURPLE { background-color: #d3bfdb; }
.PINK { background-color: #f6e2dd; }
.BROWN { background-color: #e9e3d4; }
.GRAY { background-color: #efeff1; }

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1b1b1b;
		color: #e1e1e1;
	}
	a {
		color: #e1e1e1;
	}
	.DEFAULT {
		background-color: #1b1b1b;
		outline-color: #757575;
	}
	.RED { background-color: #76172d; }
	.ORANGE { background-color: #692a18; }
	.YELLOW { background-color: #7c4a03; }
	.GREEN { background-color: #264d3b; }
	.TEAL { background-color: #0c635d; }
	.BLUE { background-color: #256476; }
	.CERULEAN { background-color: #274255; }
	.PURPLE { background-color: #482e5b; }
	.PINK { background-color: #6d394f; }
	.BROWN { background-color: #4b443a; }
	.GRAY { background-color: #232428; }
}