body {
	background-color: #ffffff;
	color: #202124;
}
a {
	color: #202124;
}
.annotation { outline-color: #e0e0e0; }
.DEFAULT {
	background-color: #ffffff;
	outline-color: #e0e0e0;
}
.RED { background-color: #f58b81; }
.ORANGE { background-color: #ffbb0c; }
.YELLOW { background-color: #fff377; }
.GREEN { background-color: #cefe92; }
.TEAL { background-color: #a3ffeb; }
.BLUE { background-color: #c9f0f8; }
.CERULEAN { background-color: #aaccfa; }
.PURPLE { background-color: #d6affa; }
.PINK { background-color: #fecfe8; }
.BROWN { background-color: #e8c9a8; }
.GRAY { background-color: #e8eaed; }

@media (prefers-color-scheme: dark) {
	body {
		background-color: #202124;
		color: #e8eaed;
	}
	a {
		color: #e8eaed;
	}
	.DEFAULT {
		background-color: #202124;
		outline-color: #5f6368;
	}
	.RED { background-color: #5e2b29; }
	.ORANGE { background-color: #63491a; }
	.YELLOW { background-color: #655c1a; }
	.GREEN { background-color: #345821; }
	.TEAL { background-color: #10504b; }
	.BLUE { background-color: #29555e; }
	.CERULEAN { background-color: #173b5f; }
	.PURPLE { background-color: #41285e; }
	.PINK { background-color: #5c2345; }
	.BROWN { background-color: #452f19; }
	.GRAY { background-color: #3c3f43; }
}